<%= decidim_form_for(@form, url: survey_sections_group_path, method: :post, html: { class: "form edit_page" }) do |form| %>
  <%= render partial: "form", object: form, locals: { edit_survey_sections_group: t(".edit_survey_sections_group"), name: t(".name"), sections: t(".sections") } %>

  <div class="button--double form-general-submit">
    <%= form.submit t(".save") %>
  </div>
<% end %>


