<div class="js--sat-fieldset-error fieldset-error hide" role="alert"><%= t("fieldset_error", scope: "decidim.forms.questionnaires.answers.generic") %></div>

<span class="form-error" role="alert">.</span>

<%= answer_form.text_area :body, label: false, id: field_id, rows: 10, disabled: disabled, maxlength: maxlength %>
