<div class="columns medium-7 mediumlarge-10 end">
  <div class="ql-editor ql-reset-decidim">
    <%= decidim_sanitize_editor translated_attribute(survey_section.title) %>
    <%= decidim_sanitize_editor translated_attribute(survey_section.description) %>
    <% survey_section.ordered_surveys.each do |survey| %>
      <%= render "decidim/survey_sections_group/application/survey", survey: survey %>
    <% end %>
  </div>
</div>
