<div class="eu-footer">
  <div class="flag-container">
    <%= image_pack_tag "media/images/europe-flag.png", class: "flag", alt: "Europe flag" %>
  </div>
  <div class="row disclaimer">
    <div class="medium-4 column">
      <%= t 'indices.footer.eu1' %>
    </div>
    <div class="medium-4 column">
      <%= t 'indices.footer.eu2' %>
    </div>
    <div class="medium-4 column">
      <%= t 'indices.footer.eu3' %>
    </div>
  </div>
</div>
