container_commands:
  01_install_wkhtmltopdf:
    command: yum list installed | grep -qw wkhtmltox || sudo yum -y install https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-1/wkhtmltox-0.12.6-1.amazonlinux2.x86_64.rpm
  02_unzip_binary:
    command: find /var/app/current/vendor -name wkhtmltopdf_centos_7_amd64.gz -exec sudo gunzip {} \;

