@import "indices/partials/variables";
@import "indices/partials/author-avatar";
@import "indices/partials/base";
@import "indices/partials/body";
@import "indices/partials/buttons";
@import "indices/partials/callout";
@import "indices/partials/cards";
@import "indices/partials/categories";
@import "indices/partials/dropdown-menu";
@import "indices/partials/filters";
@import "indices/partials/floating-helper";
@import "indices/partials/footer";
@import "indices/partials/home";
@import "indices/partials/leaflet";
@import "indices/partials/main-container";
@import "indices/partials/navbar";
@import "indices/partials/notify";
@import "indices/partials/omnipresent-banner";
@import "indices/partials/participatory-spaces";
@import "indices/partials/progress-bar";
@import "indices/partials/question";
@import "indices/partials/quill";
@import "indices/partials/sat";
@import "indices/partials/tabs";
@import "indices/partials/weblyzard";


.sat-mandatory-fieldset {
  .form-error.is-visible {
    max-height: 0px;
    max-width: 0px;
    overflow: hidden;
  }

  .fieldset-error {
    border: 1px solid #ec5840;
    padding: 1rem;
  }
}
