<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      Edit Self-Assessment tool questionnaire
    </h2>
  </div>

  <%= decidim_form_for(@form, html: { class: "form" }, method: :patch, url: admin_indices_sat_path(sat_set)) do |f| %>
    <div class="card-section">
      <%= render partial: "form", object: f %>

      <div class="button--double form-general-submit">
        <%= f.submit "Save" %>
      </div>
    </div>
  <% end %>
</div>
