@import "variables";

@font-face {font-family: "HelveticaTextbook LT Roman";
    src: url("/assets/HelveticaTextbookLT-Roman.eot"); /* IE9*/
    src: url("/assets/HelveticaTextbookLT-Roman.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/assets/HelveticaTextbookLT-Roman.woff2") format("woff2"), /* chrome firefox */
    url("/assets/HelveticaTextbookLT-Roman.woff") format("woff"), /* chrome firefox */
    url("/assets/HelveticaTextbookLT-Roman.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("/assets/HelveticaTextbookLT-Roman.svg#HelveticaTextbook LT Roman") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: 'Textbook Digi Grotesk';
    src: url('/assets/TextbookDigiGrotesk.woff2') format('woff2'),
        url('/assets/TextbookDigiGrotesk.woff') format('woff'),
        url('/assets/TextbookDigiGrotesk.ttf') format('truetype'),
        url('/assets/TextbookDigiGrotesk.svg#TextbookDigiGrotesk') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
  font-family: 'HelveticaTextbook LT Roman', sans-serif;

  color: $body-font-color;
  background-color: $body-background-color;
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6{
  font-family: 'Textbook Digi Grotesk', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  // text-rendering: optimizeLegibility;
  // letter-spacing: -.5px;
}
