.weblyzard {
  .weblyzard-content {
    background-color: #fff;
  }
  .positive {
    background-color: rgba(76, 164, 91, 0.9);
  }
  .negative {
    background-color: rgba(164, 68, 68, 0.9);
  }
  .info {
    padding:1rem;
    margin-bottom:1rem;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  .tools {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  fieldset {
    padding: 0;
    margin: 0;
    label {
      display: inline-block;
    }
    legend {
      float: left;
      margin-right: 1rem;
    }
    input {
      margin: 0 0.5rem 0 1rem;
      vertical-align: middle;
    }
    input[type="date"] {
      width: auto;
      display: inline-block;
      padding-top: 2px;
      padding-bottom: 2px;
      margin: 0 0 0 0.5rem;
      height: auto;
      font-size: 0.9em;
    }
  }
  .sentiment-gradient {
    height: 1.25rem;
    width:70%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #fff;
    padding: 1px 3px;
    background: linear-gradient(to right, rgb(164, 68, 68) 0%, rgb(76, 164, 91) 100%);
    &:before {
      content: "Negative"
    }
    &:after {
      content: "Positive"
    }
  }
}