<% add_decidim_meta_tags({
                           description: translated_attribute(@survey_section_component.name),
                         }) %>

<%= render partial: "decidim/shared/component_announcement" %>

<% if @survey_section_component.survey_sections.any? %>
  <div class="row">
    <% @survey_section_component.survey_sections.each do |survey_section| %>
      <%= render 'decidim/survey_sections/application/survey_section', survey_section: survey_section %>
    <% end %>
  </div>
<% end %>
