<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      InDICEs
    </h2>
  </div>
  <div class="card-section">
    <%= link_to "Self-Assessment Tool", admin_indices_sat_index_path %>
  </div>
</div>
