<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      InDICEs
    </h2>
  </div>
  <div class="card-section">
    <ul>
      <li><%= link_to "Self-Assessment Tool", admin_indices_sat_index_path %></li>
      <li><%= link_to "Self-Assessment Tool Lite", admin_indices_sat_lite_index_path %></li>
    </ul>


  </div>
</div>
