<h2><%= t("header", scope: "decidim.surveys.surveys.feedback") %></h2>

<h2 class="section-heading"><%= translated_attribute questionnaire.title %></h2>

<div class="row sat-questionnaire_description">
  <div class="columns medium-centered lead">
    <%= decidim_sanitize_editor translated_attribute questionnaire.description %>
  </div>
</div>
