<div id="readonly" class="sat-questionnaire_readonly">
  <%= render "sat_nav", active: "readonly" %>

  <div class="card">
    <div class="card__content">
      <ol>
        <%= cell("decidim/forms/question_readonly", collection: questionnaire.questions.not_conditioned) %>
      </ol>
    </div>
  </div>
</div>