<p>
  <ul class="sat-nav vertical medium-horizontal menu">
    <li>
      <%= link_to "SAT questions", 
                  feedback_survey_path(survey, anchor: "readonly"), 
                  class: link_class(active, "readonly") %>
    </li>

    <li>
      <%= link_to "Key recommendations", 
                  feedback_survey_path(survey, anchor: "key-recommendations"), 
                  class: link_class(active, "recommendations") %>
    </li>

    <li>
      <%= link_to "Resources", 
                  feedback_survey_path(survey, anchor: "resources"), 
                  class: link_class(active, "resources") %>
    </li>
  </ul>
</p>