<div class="row columns">
  <%= render partial: "questionnaire_not_published" %>

  <%= render partial: "questionnaire_description" %>

  <%= render partial: "questionnaire_preview" %>

  <%= render partial: "questionnaire_results" %>
</div>